#web
fastapi[standard]
starlette
uvicorn
#data modeling & validation
pydantic[email]
pydantic-settings
pydantic-extra-types
phonenumbers
#database
sqlalchemy[asyncio]
asyncpg
alembic
redis
#log
#python-json-logger
#structlog
#excel
openpyxl
#blob storage
minio
#data struct
pandas
python-dotenv
#api client
httpx
#authN & authZ
pyjwt[crypto]
bcrypt
cryptography
#logging
sentry-sdk[fastapi]
#email
aiosmtplib